<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online_booking.bl.mapper.ActionMapper">
    <insert id="bookingSeat" parameterType="java.util.HashMap">
      INSERT INTO bookings
      (user_id, restaurant_id, seat_id,date,message)
      VALUES
      (#{user_id}, #{restaurant_id},#{seat_id},#{date}, #{message});
    </insert>

    <!--取消订座-->
    <update id="cancelBookingSeat" parameterType="java.util.HashMap">
      UPDATE bookings SET status='3'
      WHERE
      id = #{id}
    </update>

    <!--拒绝订座-->
    <update id="rejectBookingSeat" parameterType="java.util.HashMap">
      UPDATE bookings SET status='2'
      WHERE
      id = #{id}
    </update>

    <!--确认订座-->
    <update id="confirmBookingSeat" parameterType="java.util.HashMap">
      UPDATE bookings SET status='1'
      WHERE
      id = #{id}
    </update>

    <!-- 查询用户所有信息 -->
    <select id="userMessages" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        Select
        bk.id,bk.restaurant_id,bk.seat_id,bk.user_id,bk.date,bk.message,bk.`status`,
        rt.name as restaurant_name,rt.`type`,s.name as seat_type
        from bookings bk
        left join restaurants rt on rt.id = bk.restaurant_id
        left join seats s on s.id = bk.seat_id
        where bk.user_id = #{user_id}
    </select>

    <!-- 查询餐厅用户所有信息 -->
    <select id="userMessages2" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        Select
        bk.id,bk.restaurant_id,bk.seat_id,bk.user_id,bk.date,bk.message,bk.`status`,
        rt.name as restaurant_name,rt.`type`,s.name as seat_type,u.username
        from bookings bk
        left join restaurants rt on rt.id = bk.restaurant_id
        left join seats s on s.id = bk.seat_id
        left join users u on u.id = bk.user_id
        where rt.user_id = #{user_id}
    </select>
</mapper>